$fonte-pokemon: 'Pokemon Solid', sans-serif;

@mixin flex($espaço) {
  display: flex;
  justify-content: $espaço;
  align-items: center;
}

@mixin texto($size, $weight, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

body {
  @include flex(center);
  width: 100vw;
  height: 100vh;
}

.card {
  @include flex(center);
  @include texto(20px,400,25px);
  height: 40vw;
  width: 30vw;
  border-radius: 20px;
  border: 1px dashed red;
  font-family: $fonte-pokemon;
  flex-direction: column;
  letter-spacing: 4px;

  &__imagem {
    width: 35%;
    margin: 10px;
    border: 1px solid ;
  }  

  &__pokemon {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__numero {
    margin: 20px;
  }

  &__tipos {
    @include flex(space-between);

    &--primeiro {
      margin-right: 10px;
      border: 2px solid black;
      border-radius: 10px;
      padding: 10px 5px;
      color: red;
      
      &::first-letter {
        text-transform: uppercase;
      }
    }

    &--segundo {
      border: 2px solid black;
      border-radius: 10px;
      padding: 10px 5px;
      color: blue;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}